#hed{
    background-color: aqua;
}

#om{
    color: red;
}
#omkar{
    font-family: sans-serif;
    
}
#mane{
    color: blueviolet;
}omkar
#dhanaji{
    background-color: cadetblue;
}