div{
  height: 170px;
  width: 170px;
  border: 1px solid;
 
}

.c1{
  height: auto;
  width: 100%;
   display: flex;
  gap: 15PX;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
