.c1 div {
  width: 100px;      /* 👈 give width */
  height: 100px;
  border: 2px solid red;
  margin-bottom: 20px;
}


.c1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}