*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

    
}

.div1 {
    
    width: 650px; 
    margin: 20px auto; 
    padding: 5px; 
    background-color: #32beb7; 
}

.div2{

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    margin-top: 7px;
}
p{
    display: flex;
    width: 640px;
    background-color: brown;
    margin-right: 5px;
    height: 100px;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    

}
.div3{
    display: flex;
    margin-top: 5px;
}
.p4{
    display: flex;
    width: 1300px;
    align-items: center;
}
.p5{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.div4{
    display: flex;
    margin-top: 5px;
    width: 426px;
    justify-content: space-around;

}

