*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


.div1 {
    
    width: 650px; 
    margin: 20px auto; 
    padding: 5px; 
    background-color: #c6c8c8ff; 
}



section{
    display: flex;
    height: 90px;
    background-color: brown;
    align-items: center;
    justify-content: center;

}

nav{
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    margin-bottom: 5px;
    
    
 
}
.box1{
    display: flex;
    background-color: blue;
    height: 90px;
    width: 320px;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    
}
.box2{
    display: flex;
    background-color: rgb(46, 140, 198);
    height: 90px;
    width: 320px;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
}
.box3{
    display: flex;
    background-color: rgb(53, 122, 195);
    height: 90px;
    width: 320px;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
}
.box4{
    display: flex;
    background-color: rgb(151, 151, 191);
    height: 90px;
    width: 320px;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
}

.box5{
    display: flex;
    background-color: rgb(167, 20, 125);
    height: 90px;
    width: 320px;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
}
.box6{
    display: flex;
    background-color: rgb(50, 10, 13);
    height: 90px;
    width: 320px;
    align-items: center;
    justify-content: center;
}
footer{
    display: flex;
    background-color: aquamarine;
    height: 90px;
    justify-content: center;
    align-items: center;

}